.todo-list {
  list-style-type: none;

  .buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1em;
    button {
      width: 50%;
    }
    .delete {
      background-color: rgb(233, 125, 125);
    }
  }

  .todo-item {
    padding: 1em;
    background-color: aqua;
    border: 1px solid black;
    margin: 1em;
    width: fit-content;

    input {
      margin-left: 0.5em;
    }
  }
}
