header {
  width: 100%;
  height: auto;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #75e4b0;

  h1 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: #05361f;
  }
}
