@import "./components/header/header";
@import "./components/todoList/list";
@import "./components/addTodo/add-todo";
@import "./components/editTodo/editTodo";
@import "./app";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
